body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.cabecalho{
    height: 20%;
    font-family: 'Segoe UI';

.conteudo{
    height: 70%;
}
.texto{
    font-family: 'Verdana';
}
.video{
    align-items: center;
    padding: 20;
}
canvas{
    position: absolute;
}
.rodape{
    height: 10%;
}
.footer{
    color: rgb(0, 0, 0);
    font-family: 'Times';
    font-size: small;
}