body{
    display: block;
    background-image: linear-gradient(rgb(182, 255, 255), rgb(55, 255, 255));
}
header{
    top: 10px;
    font-family: 'Segoe UI';
    color: rgba(0, 0, 0, 0.8);
}
.corpo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: max-content;
    color: rgb(0, 82, 82);
}
fieldset{
    border: 3px solid rgb(55, 255, 255);
}
legend{
    border: 1px solid rgb(55, 255, 255);
    padding: 7px;
    text-align: center;
    background-color: rgb(55, 255, 255);
    border-radius: 7px;
}
.video{
    align-items: center;
    justify-content: center;
}
canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 20px;
}
.legenda{
    font-size: small;
    font-family: 'Segoe UI';
    color: rgb(55, 255, 255);
}